<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <script src="/assets/js/custom.js" defer></script>
</head>
<body>
  <div id="container">
    <aside id="sidebar">
      <a href="/" id="home-link">Return Home</a>
      <ul id="sidebar-content">
        <!-- Sidebar content will be populated by JavaScript -->
      </ul>
    </aside>
    <main id="content">
      {{ content }}
    </main>
  </div>
</body>
</html>
