<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/libs/fontawesome-5.9.0/css/all.min.css' | relative_url }}" media="screen" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css"> -->

  <!--
    [if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]
  -->

  {% seo %}
</head>

<body>
  <section class="pan-layout">
    <!-- Custom Sidebar for aaaa_notes Page -->
    <section class="pan-layout-left">
      <div class="pan-layout-left__overlay"></div>

      <div class="pan-layout-left__top">
        <div class="pan-layout-left__avatar">
          {% if site.avatar %}
            <a href="{{ '/' | relative_url }}">
              <img src="{{ site.avatar }}" alt="{{ site.title | default: site.github.owner_name }}">
            </a>
          {% else if site.github.owner_gravatar_url %}
            <a href="{{ '/' | relative_url }}">
              <img src="{{ site.github.owner_gravatar_url }}" alt="{{ site.title | default: site.github.owner_name }}">
            </a>
          {% else %}
            <a href="{{ '/' | relative_url }}">
              <img src="https://secure.gravatar.com/avatar/?d=mm&r=g&s=150" alt="">
            </a>
          {% endif %}
        </div>

        <div class="pan-layout-left__info">
          <h1 class="pan-layout-left__title">
            {{ site.title | default: site.github.owner_name }}
          </h1>
          {% if site.subtitle %}
            <h3 class="pan-layout-left__subtitle">
              {{ site.subtitle }}
            </h3>
          {% endif %}
        </div>
      </div>

      <div class="pan-layout-left__middle">
        <h2>Table of Contents</h2>
        <ul class="pan-layout-left__menu">
          {% assign headers = page.content | split: '\n' %}
          {% assign headings = "" | split: "" %}
          {% for header in headers %}
            {% if header contains '# ' %}
              {% assign level = header | slice: 0, 1 %}
              {% assign heading = header | remove: '#' | remove: ' ' %}
              <li><a href="#{{ heading | downcase }}">{{ heading }}</a></li>
            {% elsif header contains '## ' %}
              {% assign level = header | slice: 0, 2 %}
              {% assign heading = header | remove: '## ' | remove: ' ' %}
              <li><a href="#{{ heading | downcase }}">{{ heading }}</a></li>
            {% elsif header contains '### ' %}
              {% assign level = header | slice: 0, 3 %}
              {% assign heading = header | remove: '### ' | remove: ' ' %}
              <li><a href="#{{ heading | downcase }}">{{ heading }}</a></li>
            {% elsif header contains '#### ' %}
              {% assign level = header | slice: 0, 4 %}
              {% assign heading = header | remove: '#### ' | remove: ' ' %}
              <li><a href="#{{ heading | downcase }}">{{ heading }}</a></li>
            {% elsif header contains '##### ' %}
              {% assign level = header | slice: 0, 5 %}
              {% assign heading = header | remove: '##### ' | remove: ' ' %}
              <li><a href="#{{ heading | downcase }}">{{ heading }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="pan-layout-left__bottom">
        <div class="pan-layout-left__small">
          <span>GET IN TOUCH</span>
        </div>
        <div class="pan-layout-left__social">
          {% if site.social_icons %}
            <ul>
              {% for social in site.social_icons %}
                {% if social.icon %}
                  <li>
                    <a target="_blank" href="{{ social.link }}">
                      {% if social.icon contains 'fa-' %}
                        <i class="{{ social.icon }}"></i>
                      {% else %}
                        <img src="{{ social.icon }}" alt="{{ social.name }}" class="social-icon-img">
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="pan-layout-left__close">
        <i class="fa fa-fw fa-times"></i>
      </div>
    </section>
    
    <section class="pan-layout-overlay"></section>

    <section class="pan-layout-right">
      {% include header.html %}

      <section class="pan-layout-content">
        {{ content }}
      </section>

      {% include footer.html %}
    </section>
  </section>

  <script type="text/javascript" src="{{ '/assets/libs/jquery-3.4.1.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/libs/jquery-migrate-3.0.1.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/panthera-jekyll.js?v=' | append: site.github.build_revision | relative_url }}"></script>

  {% if site.data.comments.enabled == true %}
    {% case site.data.comments.type %}
      {% when 'disqus' %}
        {% if site.data.comments.disqus.name %}
          <script id="dsq-count-scr" src="//{{ site.data.comments.disqus.name }}.disqus.com/count.js" async></script>
        {% endif %}
      {% else %}
    {% endcase %}
  {% endif %}
</body>
</html>
